<div class="footer">

    <div class="footer_header">
        <h2>MusicVault Devs</h2>
    </div>

    <div class="footer_content">
        <div>
            <h2>Github</h2>
            <p>
                <a href="https://github.com/mamarsh525" target="_blank">Maximilian Marshall</a>
            </p>
            <p>
                <a href="https://github.com/KeaganRee" target="_blank">Kyan Lee</a>
            </p>
            <p>
                <a href="https://github.com/naolopez-dev" target="_blank">Naomi Lopez</a>
            </p>
            <p>
                <a href="https://github.com/leodebuss" target="_blank">Leonardo Lopez</a>
            </p>
        </div>
        <div>
            <h2>Quick Links</h2>
            <p>
                <a href="/">Home</a>
            </p>
            <p>
                <a href="/discover">Discover Page</a>
            </p>
            <p>
                <a href="/search">Search</a>
            </p>
        </div>
        <div>
            <h2>CST 336</h2>
            <p>
                <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=11&coid=29429" target="_blank">Course Overview</a>
            </p>
            <p>
                <a href="https://github.com/drlara" target="_blank">Dr. Lara</a>
            </p>
            <p>
                <a href="https://catalog.csumb.edu/preview_course_nopop.php?catoid=11&coid=29394" target="_blank">Prerequisite</a>
            </p>
        </div>
        <div>
            <h2>CSUMB</h2>
            <p>
                5108 Fourth Ave, Marina, CA 93933
            </p>
            <p>
                831-582-3000
            </p>
            <p>
                technology_help_desk@csumb.edu
            </p>
        </div>
    </div>

    <footer class="copyright">
        <hr>
        <p>Copyright by @MusicVault 2026</p>
    </footer>
</div>