<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Create Your Playlist</h2>

    <form action="/createPlaylist" method="POST">
        <input type="hidden" name="song_id" value="<%= song_id %>">
        <input type="hidden" name="trackName" value="<%= trackName %>">
        <input type="hidden" name="artistName" value="<%= artistName %>">
        <label>Playlist Name:</label>
        <input type="text" name="playlistName" required>

        <button type="submit">Create </button>
    </form>
</body>

</html>