<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> MusicVault Login Page </title>
  <%- include("partials/head.ejs") %>
</head>

<body class="text-center">
  <%- include("partials/nav.ejs") %>

    <h1 class="m-5">Login</h1>

    <form action="/loginProcess" method="POST">
      Username:
      <div class="loginDiv">
        <input type="text" name="username" required />
        <span class="bi bi-person loginIcon"></span>
      </div>
      <br />

      Password:
      <div class="loginDiv">
        <input type="password" id="pwd" name="password" required />
        <span class="bi bi-eye loginIcon" id="eyeIcon"></span>
      </div>
      <br />
      <button class="btn btn-success">Login</button>
    </form>
    <% if (typeof (loginError) !=="undefined" ) { %>
      <div class="alert alert-danger m-5">
        <%=loginError%>
      </div>

      <% } %>
        <script>
          const eyeIcon = document.querySelector("#eyeIcon");
          const pwd = document.querySelector("#pwd");

          eyeIcon.addEventListener("click", () => {
            const isHidden = pwd.type === "password";
            pwd.type = isHidden ? "text" : "password";
            eyeIcon.classList.toggle("bi-eye", !isHidden);
            eyeIcon.classList.toggle("bi-eye-slash", isHidden);
          });
        </script>

</body>

</html>